@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
}
/*Pop-Up*/

.cookies-msg{
    position: fixed;
    bottom: 3%;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

.cookies-msg.mostrar{
    display: block;
}

.cookies-msg .cookies-txt{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: start;
    background-color: #fff;
    border-radius: 10px;
}


.cookies-msg .cookies-btn button{
    margin-left: 20px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: .2s;
    float: right;
    margin: 2px;
}

.cookies-msg .cookies-btn button:hover{
    transform: scale(0.9);
}


/* Fechamento do Pop-Up*/

/*NavBar*/
#arrow{
    display: block;
    position: absolute;
    left: 20px;
    font-size: 25px;
    color: #CBEDD5;
    text-decoration: none;
    transition: all .2s ease-in-out;
    display: block;
}
#arrow:hover{
    color: #fff;
    transform: scale(1.1);
}

#navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 80px;
    background-color: #439A97;
    box-shadow:  10px 10px 29px #c7c7c7,
             -23px -23px 29px #f9f9f9;
}

#navbar ul li{
    display: inline-flex;
    list-style: none;
    padding-right: 1.5em;
}

#navbar ul li > a{
    font-family: 'Rubik';
    color: #CBEDD5;
    text-decoration: none;
    transition: transform .3s ease-in;
    display: inline-block;
}
#navbar ul li > a:hover{
    color: #fff;
    transform: translate(0, -5px);   
}
nav .fa-solid{
    display: none;
}

nav .fa-bars{
    position: absolute;
    right: 20px;
}

/*Fechamento NavBar*/

/*17 objetivos ONU*/
.objetivos-container{
    display: flex;
    justify-content: center;
    margin: 2em 9em;
    font-family: 'Rubik';
}
.objetivos-box img{
    width: 900px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.objetivos-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.objetivos-box h2{
    font-family: 'Rubik';
    margin-bottom: 15px;
}
.objetivos-box h3{
    margin: 15px 0 0 0;
}
.objetivos-box p{
    padding: 14px 0 0 0;
    font-size: 18px;
    text-align: justify;
}
.objetivos-box p > span{
    font-weight: bold;
}
/*Erradicação da pobreza*/



/*Rodape*/
#rodape{
    background-color: #439A97;
    font-family: 'Rubik';
}
#rodape-box{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
#integrantes, #navegacao{
    margin: 2em;
}


#integrantes ul li, #navegacao ul li > a, #navegacao ul li{
    list-style: none;
    text-decoration: none;
    color: #000;
    transition: all .2s ease-in-out;
    display: block;
    font-size: 18px;
}
#navegacao ul li > a:hover{
    color: #fff;
    text-decoration: underline;
    transform: scale(0.10);
    transform: scale(1.1);
}
#rodape hr{
    margin: auto;
    width: 80%;
}
#rodape h2, h3{
    padding: 1em;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: 'Rubik';
}
#rodape h2>a{
    margin-left: 30px;
    font-size: 20px;
    color: #000;
    transition: transform .3s linear;
}
#rodape h2>a:hover{
    color: #fff;
    transform: translate(0, -10px);
}
#integrantes li > span{
    padding: 0px 40px 10px;
    color: #0e2c40;
    font-weight: bold;
    transition: transform .3s linear;
    display: inline-block;
}
#integrantes li > span:hover{
    transform: translate(0, -10px);
    color: #62B6B7;
}
#navegacao h3{
    padding: 0px 40px 10px;
    color: #0e2c40;
    font-weight: bold;
    transition: transform .3s linear;
    display: inline-block;
}
#navegacao h3:hover{
    transform: translate(0, -10px);
    color: #62B6B7;
}

/*Fechamento Rodape*/




@media screen and (max-width: 1080px) {
    /*Fechamento Navbar*/
    .objetivos-box img{
        width: 600px;
        height: 400px;
    }

}

@media screen and (max-width: 750px){
    .objetivos-box img{
        width: 400px;
        height: 200px;
    }
    #links{
        display: none;
    }
    #rodape-box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }   
    #navegacao h3, #navegacao ul li{
        text-align: center;
    }

}

@media screen and (max-width: 550px){
    .objetivos-box img{
        width: 320px;
    }
    .objetivos-box h2{
        font-size: 17px;
    }
    .objetivos-box p{
        font-size: 16px;
    }
    #rodape h2{
        font-size: 13px;
    }
}
